@import 'common/var';
@import 'mixin/mixin';

[class*='iv-col-'] {
    float: left;
    box-sizing: border-box;
    padding: 0 $-grid-gutter-width / 2;
}

.#{$namespace}-col-0 {
    display: none;
}

@for $i from 0 through $-grid-columns {
    .#{$namespace}-col-#{$i} {
        width: (1 / $-grid-columns * $i * 100) * 1%;
    }
}
